<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-http-calls.ZPM">
    <Module>
      <Name>iris-http-calls</Name>
      <Description>InterSystems IRIS Interoperability solution for HTTP calls.</Description>
      <Version>0.3.46</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>1.0.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>objectscript-json-trace-viewer</Name>
          <Version>1.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>production-settings</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <FileCopy Name="src/i14y/" Target="${mgrdir}i14y/"/>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Ens.Config.DefaultSettings.ESD"/>
      <Resource Directory="i14y" Name="TestLookupTable.LUT"/>
      <Resource Name="dc.HTTP.PKG"/>
      <Resource Name="dc.Demo.PKG"/>
      <Resource Name="dc.Oliver.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
      <Default Name="FilePath" Value="iris_http_calls" />
      <Default Name="UrlModify" Value="/MedicationStatement?patient=egqBHVfQlt4Bw3XGXoxVxHg3" />
      <Invoke Class="dc.Demo.Setup" Method="Init" >
        <Arg>${FilePath}</Arg>
        <Arg>${UrlModify}</Arg>
      </Invoke>
      <Invoke Class="dc.Demo.Setup" Method="StartProduction" >
      </Invoke>
    </Module>
  </Document>
</Export>
